{% extends 'index.html' %}
{% block content %}
    <h2>Clusters</h2>
    <!-- show the flash messages first -->
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{message[0]}}" role="alert">
        {{message[1]}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% for cluster in data %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cluster {{ data.index(cluster) }}</h3>
        </div>
        <div class="panel-body">
            {% for key in cluster.keys()|sort %}
            <p><strong>{{ key }} :</strong> {{ cluster[key] }}</p>
            {% endfor %}
        </div>
        <div class="panel-footer">
        	<form action="/cluster" method="post">
                <input type="hidden" name="deletecluster" value="{{ cluster['id'] }}">
                <button type="submit" class="btn btn-sm btn-danger">Remove cluster</button>
            </form>
        </div>
    </div>
    {% endfor %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add cluster</h3>
        </div>
        <div class="panel-body">
            <form action="/cluster" method="post">
                <button type="submit" class="btn btn-success">Add cluster</button>
            </form>
        </div>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $().alert();
        });
    </script>

{% endblock %}
