{% extends 'base.html' %}
{% block interface %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/license_credential">License Credential</a></li>
                <li><a href="/license">License</a></li>
                <li><a href="/provider">Provider</a></li>
                <li><a href="/cluster">Cluster</a></li>
                <li><a href="/node">Node</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block main_area %}
            <h2>{{ entity|replace('_', ' ') }}</h2>
            <!-- Content has two things. 1. list of entites, 2. A new entity form -->
            <ul id="actionTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#status" aria-controls="status" role="tab" data-toggle="tab">Status</a></li>
                <li role="presentation" ><a href="#newform" aria-controls="newform" role="tab" data-toggle="tab">New {{entity|replace('_', 
                    ' ')}}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="status">
                    <p></p>
                    {% block entity_status %}
                    {% endblock entity_status %}
                </div>
                <div class="tab-pane" role="tabpanel" id="newform">
                    <p></p>
                    {% block entity_form %}
                        {% if entity == "Provider" %}
                            {% include 'new_provider.html' %}
                        {% elif entity == "Cluster" %}
                            {% include 'new_cluster.html' %}
                        {% elif entity == "Node" %}
                            {% include  'new_node.html' %}
                        {% elif entity == "License" %}
                            {% include  'new_license.html' %}
                        {% elif entity == "License_Credential" %}
                            {% include  'new_license_credential.html' %}
                        {% endif %}

                       {% endblock entity_form %}
                </div>
            </div>
            <script>
                $(function(){
                    $('#actionTab a:first').tab('show');
                });
            </script>
            {% endblock main_area %}
        </div>
    </div>
</div>

{% endblock %}
