{% extends 'index.html' %}
{% block content %}
    <h2>Providers</h2>
    <!-- show the flash messages first -->
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{message[0]}}" role="alert">
        {{message[1]}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% for provider in data %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Provider {{ data.index(provider) }}</h3>
        </div>
        <div class="panel-body">
            <p><strong>Id:</strong> {{ provider['id'] }}</p>
            <p><strong>Host Name:</strong> {{ provider['hostname'] }}</p>
            <p><strong>Docker URL:</strong> {{ provider['docker_base_url'] }}</p>
        </div>
    </div>
    {% endfor %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add provider</h3>
        </div>
        <div class="panel-body">
            <form action="/provider" method="post">
                <div class="form-group">
                    <label for="hostname">Hostname for the provider</label>
                    <input id="hostname" name="hostname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="docker_base_url">URL to Docker API</label>
                    <input id="docker_base_url" name="docker_base_url" class="form-control" type="text" data-toggle="tooltip"
                data-placement="top" title="URL could be unix socket (e.g. unix:///var/run/docker.sock) for localhost or tcp (10.10.10.1:2375) for remote host">
                </div>
                <button type="submit" class="btn btn-success">Add provider</button>
            </form>
        </div>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $().alert();
        });
    </script>

{% endblock %}
