
<div class="row">
    <h2>
        Clusters  <a href="#/new/clusters" class="btn btn-default">New Cluster</a>
    </h2>
</div>
<div id="resourceTable" class="row" ng-if="contents.length">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th>Name</th>
                <th>Organization</th>
                <th>City</th>
                <th>Ox Cluster Host</th>
                <th>LDAP Nodes</th>
                <th>OxAuth Nodes</th>
                <th>OxTrust Nodes</th>
                <th>Nginx Nodes</th>
                <th>oxIdp Nodes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in contents track by $index">
                <td><a href="#/clusters" ng-click="loadResource('clusters', row.id)">{{row.name}}</a></td>
                <td>{{row.org_name}}</td>
                <td>{{row.city}}</td>
                <td>{{row.ox_cluster_hostname}}</td>
                <td>{{row.ldap_nodes.length}}</td>
                <td>{{row.oxauth_nodes.length}}</td>
                <td>{{row.oxtrust_nodes.length}}</td>
                <td>{{row.nginx_nodes.length}}</td>
                <td>{{row.oxidp_nodes.length}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="deleteResource('clusters', row.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default" ng-if='details'>
    <div class="panel-heading">
        Cluster Details : {{details.name}}
    </div>

    <table class="table">
        <tr ng-repeat='(key, value) in details'>
            <td><strong>{{key}}</strong></td>
            <td>{{value}}</td>
        </tr>
    </table>
</div>
