<div class="row">
  <h2>Container log: {{container_name}} <br/> <small>State: {{node_state}}</small></h2>
</div>
<div class="row">
    <div class="alert alert-info">This page displays the deployment log of the node. The log text is updated for nodes in <strong>IN_PROGRESS</strong> state every 3 seconds. It is not updated if the nodes or in a static state such as <strong>SUCCESS</strong>, <strong>FAILED</strong> or <strong>DISABLED</strong></div>

    <pre>{{logText}}</pre>
    <div id="bottom"></div>
</div>
