
<div class="row">
    <div class="col-md-5 dashbox">
        <h2><a href="#/clusters">Clusters</a></h2>
        <p class="dashcount">{{data.clusters}}</p>
    </div>
    <div class="col-md-5 col-md-offset-1 dashbox">
        <h2><a href="#/providers">Providers</a></h2>
        <p class="dashcount">{{data.providers}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-5 dashbox">
        <h2><a href="#/nodes">Nodes</a></h2>
        <p class="dashcount">{{data.nodes}}</p>
    </div>
    <div class="col-md-5 col-md-offset-1 dashbox">
        <h2><a href="#/licenses">Licenses</a></h2>
        <p class="dashcount">{{data.licenses}}</p>
    </div>
</div>
