<h2>{{ currentResource }}</h2>
<!-- Content has two things. 1. list of entites, 2. A new entity form -->
<div class="row">
    <div class="col-md-3"><a href="#/new/{{currentResURI}}" class="btn btn-primary">New {{currentResource}}</a></div>
    <div class="col-md-3"><a href="#/edit/{{currentResURI}}" class="btn btn-info" >Edit {{currentResource}}</a></div>
    <div class="col-md-6"></div>
</div>
<div id="resourceTable">
    <table class="table">
        <tr>
            <td></td>
        </tr>
    </table>
</div>
