<!-- Content has two things. 1. list of entites, 2. A new entity form -->
<div class="row">
    <h2>
        {{ currentResource }}
        <a href="#/new/{{currentResURI}}" class="btn btn-default">New {{currentResource}}</a>
    </h2>
</div>
<div id="resourceTable" class="row">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th ng-repeat="item in headers">{{item}}</th>
                <th ng-if="headers.length > 0">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in contents track by $index">
                <td ng-repeat="item in headers">
                    <!-- For showing the links on Names -->
                    <span ng-if="item != 'Name' && item != 'Host Name' && item != 'State'">{{row[item]}}</span>
                    <span ng-if="item == 'Name' || item == 'Host Name'"><a href='#/view/{{currentResURI}}' ng-click="loadResource(currentResURI, row['ID'])">{{row[item]}}</a></span>

                    <!-- For showing node status -->
                    <span ng-if="currentResURI == 'nodes' && item == 'State'">
                        <span class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true" ng-if="row[item] == 'SUCCESS'" title="{{row[item]}}"></span>
                        <span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true" ng-if="row[item] == 'FAILED'" title="{{row[item]}}"></span>
                        <span class="glyphicon glyphicon-ban-circle text-warning" aria-hidden="true" ng-if="row[item] == 'DISABLED'" title="{{row[item]}}"></span>
                        <span class="glyphicon glyphicon-time text-info" aria-hidden="true" ng-if="row[item] == 'IN_PROGRESS'" title="{{row[item]}}"></span>
                        <small>{{row[item]}}</small>
                    </span>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="#/edit/{{currentResURI}}/{{row['ID']}}" ng-if="currentResURI=='providers'||currentResURI=='license_credentials'">Edit</a>
                    <button class="btn btn-danger btn-sm" ng-click="deleteResource(currentResURI, row['ID'])">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default" ng-if='details'>
    <div class="panel-heading">
        {{currentResource}} Details
    </div>

    <table class="table">
        <tr ng-repeat='item in detailKeys'>
            <td><strong>{{item}}</strong></td>
            <td>{{details[item]}}</td>
        </tr>
    </table>
</div>
