<div class="row">
    <h2>
        Licenses  <a href="#/new/licenses" class="btn btn-default">New License</a>
    </h2>
</div>
<div id="resourceTable" class="row" ng-if="contents.length">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th>Name</th>
                <th>Valid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in contents track by $index">
                <td><a href="#/licenses" ng-click="loadResource('licenses', row.id)">{{row.metadata.license_name}}</a></td>
                <td>
                    <span class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true" ng-if="row.valid">VALID</span>
                    <span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true" ng-if="!row.valid">INVALID</span>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="deleteResource('licenses', row.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default" ng-if='details'>
    <div class="panel-heading">
        License Details
    </div>

    <table class="table">
        <tr ng-repeat='(key, value) in details' ng-if="key !== 'metadata'">
            <td><strong>{{key}}</strong></td>
            <td>{{value}}</td>
        </tr>
        <tr>
            <td colspan=2><strong>Metadata</strong></td>
        </tr>
        <tr ng-repeat='(mkey, mvalue) in details.metadata'>
            <td><strong>{{mkey}}</strong></td>
            <td>{{mvalue}}</td>
        </tr>
    </table>
</div>
