<form ng-submit="submit()">
    <div class="form-group" ng-if="editMode">
        <label for="id">ID</label>
        <input class="form-control" type="text" name="id" disabled ng-model="resourceData.id">
    </div>
    <div class="form-group">
        <label for="cluster_id">Cluster ID</label>
        <select class="form-control" name="cluster_id" ng-model="resourceData.cluster_id" required>
            <option value="{{cluster.id}}" ng-repeat="cluster in clusters">{{cluster.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="node_type">Node Type</label>
        <select id="node_type" name="node_type" class="form-control" ng-model="resourceData.node_type" required>
            <option value="ldap">LDAP</option>
            <option value="oxauth">oxAuth</option>
            <option value="oxTrust">oxTrust</option>
            <option value="httpd">Httpd</option>
        </select>
    </div>
    <div class="form-group">
        <label for="provider_id">Provider ID</label>
        <select class="form-control" name="provider_id" ng-model="resourceData.provider_id" required>
            <option value="{{provider.id}}" ng-repeat="provider in providers">{{provider.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="connect_delay">Delay before connecting node (secs)</label>
        <input class="form-control" type="number" name="connect_delay" value="10" ng-model="resourceData.connect_delay" optional>
    </div>
    <div class="form-group">
        <label for="exec_delay">Delay before executing (secs)</label>
        <input class="form-control" type="number" name="exec_delay" value="15" ng-model="resourceData.exec_delay" optional>
    </div>
    <button class="btn btn-primary" type="submit">Create Node</button>
</form>
