<h2>New Provider</h2>
<form ng-submit="submit()">
    <div class="form-group" ng-if="editMode">
        <label for="id">ID</label>
        <input class="form-control" name="id" type="text" ng-model="resourceData.id" disabled>
    </div>
    <div class="form-group">
        <label for="hostname">Hostname</label>
        <input name="hostname" type="text" class="form-control" ng-model="resourceData.hostname" required>
        <span class="help-block">Host name of the machine. When in doubt, use <code>hostname --long</code> shell command to get the name.</span>
    </div>
    <div class="form-group">
        <label for="docker_base_url">URL to Docker API</label>
        <input name="docker_base_url" class="form-control" type="text" ng-model="resourceData.docker_base_url" required>
        <span class="help-block">Docker remote API URL. Supported format is <code>https://$IP:$PORT</code>, e.g. <code>https://128.199.198.172:2376</code>.</span>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select id="type" name="type" class="form-control" ng-model="resourceData.type" required>
            <option value="master">Master</option>
            <option value="consumer">Consumer</option>
        </select>
        <span class="help-block">Provider type (either 'master' or 'consumer')</span>
    </div>
    <div class="form-group">
      <label for="connect_delay">Connect Delay (optional)</label>
      <input name="connect_delay" class="form-control" type="number" ng-model="resourceData.connect_delay" ng-init="resourceData.connect_delay = 10">
      <span class="help-block">Time to wait (in seconds) before start connecting to provider (default to 10 seconds).</span>
    </div>
    <div class="form-group">
      <label for="exec_delay">Execution Delay (optional)</label>
      <input name="exec_delay" class="form-control" type="number" ng-model="resourceData.exec_delay" ng-init="resourceData.exec_delay = 15">
      <span class="help-block">Time to wait (in seconds) before start executing command in provider (default to 15 seconds).</span>
    </div>
    <button class="btn btn-primary" type="submit">Add provider</button>
</form>

