<form ng-submit="submit()">
    <div class="form-group" ng-if="editMode">
        <label for="id">ID</label>
        <input class="form-control" type="text" name="id" disabled ng-model="resourceData.id">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" ng-model="resourceData.name" required>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <input class="form-control" type="text" name="code" ng-model="resourceData.code" required>
        <span class="help-block">License code retrieved from license server</span>
    </div>
    <div class="form-group">
        <label for="public_key">Public Key</label>
        <input class="form-control" type="text" name="public_key" ng-model="resourceData.public_key" required>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="public_password">Public Password</label>
        <input class="form-control" type="password" name="public_password" ng-model="resourceData.public_password" required>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="license_password">License Password</label>
        <input class="form-control" type="password" name="license_password" ng-model="resourceData.license_password" required>
        <span class="help-block"></span>
    </div>
    <button class="btn btn-primary" type="submit">Add Credential</button>
</form>
