<h2>New Node</h2>
<form ng-submit="submit()">
    <div class="form-group">
        <label for="node_type">Type</label>
        <select id="node_type" name="node_type" class="form-control" ng-model="node_type" required>
            <option value="">Select the node type</option>
            <option value="discovery">Discovery</option>
            <option value="master">Master</option>
            <option value="worker">Worker</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">Name *</label>
        <input name="name" type="text" class="form-control" ng-model="resourceData.name" required>
        <span class="help-block">Name of the node. This is also acts as its hostname.
          <span ng-if="node_type == 'discovery'"> Currently, the name must be set as<code>gluu.discovery</code>.</span>
        </span>
    </div>
    <div class="form-group">
        <label for="provider_id">Provider *</label>
        <select id="provider_id" name="provider_id" class="form-control" ng-model="resourceData.provider_id" required>
          <option value="">Select a provider to create the node</option>
          <option value="{{provider.id}}" ng-repeat="provider in providers">{{provider.name}}</option>
        </select>
        <span class="help-block">The ID of provider. Note, <code>generic</code> provider can be used only once by a node.</span>
    </div>
    <button class="btn btn-primary" type="submit">Add Node</button>
</form>
