<h2>New Node</h2>
<form ng-submit="submit()">
    <div class="form-group" ng-if="editMode">
        <label for="id">ID</label>
        <input class="form-control" type="text" name="id" disabled ng-model="resourceData.id">
    </div>
    <div class="form-group">
        <label for="cluster_id">Cluster ID</label>
        <select class="form-control" name="cluster_id" ng-model="resourceData.cluster_id" required>
            <option value="{{cluster.id}}" ng-repeat="cluster in clusters">{{cluster.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="node_type">Node Type</label>
        <select id="node_type" name="node_type" class="form-control" ng-model="resourceData.node_type" required>
            <option value="">Select a Node Type</option>
            <option value="ldap">LDAP</option>
            <option value="oxauth">oxAuth</option>
            <option value="oxtrust">oxTrust</option>
            <option value="httpd">Httpd</option>
        </select>
    </div>
    <div class="form-group">
        <label for="provider_id">Provider ID</label>
        <select class="form-control" name="provider_id" ng-model="resourceData.provider_id" required>
            <option value="{{provider.id}}" ng-repeat="provider in providers">{{provider.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="connect_delay">Delay before connecting node (secs)</label>
        <input class="form-control" type="number" name="connect_delay" value="10" min="0" ng-model="resourceData.connect_delay" optional>
    </div>
    <div class="form-group">
        <label for="exec_delay">Delay before executing (secs)</label>
        <input class="form-control" type="number" name="exec_delay" value="15" min="0" ng-model="resourceData.exec_delay" optional>
    </div>
    <div class="form-group" ng-if="resourceData.node_type == 'httpd'" ng-class="{'has-error': !oxauth_nodes.length}">
        <label for="oxauth_node_id" class="control-label">OxAuth Node ID</label>
        <select id="oxauth_node_id"  name="oxauth_node_id" class="form-control" ng-model="resourceData.oxauth_node_id" required>
            <option value="" ng-if="!oxauth_nodes.length">No OxAuth nodes present</option>
            <option value="" ng-if="oxauth_nodes.length">Select an OxAuth node</option>
            <option value="{{node.id}}" ng-repeat="node in oxauth_nodes">{{node.name}}</option>
        </select>
        <span class="help-block">ID of oxauth node (required when deploying httpd node).</span>
    </div>
    <button class="btn btn-primary" type="submit">Create Node</button>
</form>
