<h2>New License</h2>
<form ng-submit="submit()">
    <div class="form-group" ng-if="editMode">
        <label for="id">ID</label>
        <input class="form-control" type="text" name="id" disabled ng-model="resourceData.id">
    </div>
    <div class="form-group">
        <label for="credential_id">License Key ID</label>
        <input type="text" class="form-control" name="license_key_id" ng-model="resourceData.license_key_id" required>
        <span class="help-block">License Key ID to use (useful for generating metadata)</span>
    </div>
    <button class="btn btn-primary" type="submit">Add License</button>
</form>
