<form action="/provider" method="post">
    <div class="form-group">
        <label for="hostname">Hostname</label>
        <input id="hostname" name="hostname" type="text" class="form-control" required>
        <span class="help-block">Hostname of the provider</span>
    </div>
    <div class="form-group">
        <label for="docker_base_url">URL to Docker API</label>
        <input id="docker_base_url" name="docker_base_url" class="form-control" type="text" required>
        <span class="help-block">URL could be unix socket (e.g. unix:///var/run/docker.sock) for localhost or tcp (10.10.10.1:2375) for remote host</span>
    </div>
    <div class="form-group">
        <label for="license_id">License ID</label>
        <input type="text" name="license_id" class="form-control" id="license_id" required>
        <span class="help-block">ID of the license. Must be filled for consumer provider.</span>
    </div>
    <button type="submit" class="btn btn-primary">Add provider</button>
</form>

