<div class="row">
    <h2>
        Providers  <a href="#/new/providers" class="btn btn-default">New Provider</a>
    </h2>
</div>
<div id="resourceTable" class="row" ng-if="contents.length">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th>Host Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in contents track by $index">
                <td><a href="#/providers" ng-click="loadResource('providers', row.id)">{{row.hostname}}</a></td>
                <td>{{row.type}}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="#/edit/providers/{{row.id}}">Edit</a>
                    <button class="btn btn-danger btn-sm" ng-click="deleteResource('providers', row.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default" ng-if='details'>
    <div class="panel-heading">
        Provider Details : {{details.hostname}}
    </div>

    <table class="table">
        <tr ng-repeat='(key, value) in details'>
            <td><strong>{{key}}</strong></td>
            <td>{{value}}</td>
        </tr>
    </table>
</div>
